<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./component/css.ejs') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="row">
    <form class="col s12" method="post" action="/login">
     <div class="input-field col s12">
          <input id="id" type="text"  name="id" class="validate">
          <label for="id">ID</label>
        </div>
     <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      <button type="submit"  class="btn">login</button>
    </form>
    </div>
     </body>
   <%- include('./component/js.ejs') %>
</html>
